.tile {
    display: inline-flex;

}



.rock {
  background-image: url('rock.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.tree {
  background-image: url('tree.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.chest {
    background-image: url('treasureChest.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.flower {
    background-image: url('flower.png');
    background-repeat: no-repeat;
    background-size: contain;
}
