/*
*Contributors: Kira Toal 
*Date: 4/22/2020
*Color palette: #ebf4f6 • #bdeaee • #76b4bd • #58668b • #5e5656
*/ 

body {
    background-color: #76b4bd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

}

h1 {
    font-size: xx-large;
    color:#5e5656;
    text-align: center;
}

p {
    font-size: medium;
    color: #bdeaee;
    text-align: center;
 
}